In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from IPython.display import display

In [3]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [6]:
#%run -i ./src/linear3.py -v -c config/linear3.yaml

In [45]:
num = 1000
x1 = np.random.normal(0, 1, num)
x2 = np.random.normal(2, 3, num)
x3 = np.random.normal(-3, 5, num)

c1 = (3 * np.random.rand(num)).astype(int)
c1_classes = {0: 'low', 1:' mid', 2: 'high'}
c1_str = np.array([c1_classes[c] for c in c1])

c2 = (5 * np.random.rand(num)).astype(int)
c2_classes = {0: 'very_low', 1: 'low', 2:' mid', 3: 'high', 4:'very_high'}
c2_str = np.array([c2_classes[c] for c in c2])

n = np.random.normal(0, 1, num)

y = 3. * x1 - 1. * x2 + 0.5 * x3 + 0.5 * c1 - 0.3 * c2 + 0.1 * n

pd.DataFrame({'x1': x1, 'x2': x2, 'x3': x3, 'c1': c1_str, 'c2': c2_str, 'y': y})

           x1        x2        x3    c1         c2          y
0    1.538282  0.012067  2.945918  high   very_low   7.073672
1   -2.408083  4.644111 -6.682721   mid   very_low -14.711152
2   -2.614436  5.232783  2.239281   mid        mid -12.105074
3    0.094893  4.780524 -2.230540  high  very_high  -5.871696
4   -1.584006 -0.709309 -2.898760  high   very_low  -4.556332
..        ...       ...       ...   ...        ...        ...
995  0.524661  2.325202 -0.823788  high        low  -0.319863
996 -2.095936  3.509661  4.126416  high  very_high  -7.876773
997  1.590942 -0.947334  0.522367  high        low   6.630895
998 -1.190277 -2.588580 -7.501682   mid        mid  -4.951766
999  0.976527  9.288744 -2.756932   low        mid  -8.376223

[1000 rows x 6 columns]

In [42]:
y = 3. * x1 - 1. * x2 + 0.5 * x3 + 0.5 * c1 - 0.3 * c2 + 0.1 * n